    <div class="container">
        <div class="row">
            <div class=" col-md-5">
                <form #form="ngForm" novalidate>  <!--wpisujemy novalidate aby usunac walidacje przegladarkowa-->

                    <!--klasa has-error wystapi gdy zajda okreslone warunki (nie spełniło warunkow walidacji html5)
                     (została dotknięta i porzucona ) zmieni się wtedy wygląd zobacz jak to bedzie działaś
                     z tymi twoimi placeholderami ewentualnie dodać tam nową klase w css tym placeholderowym aby sie zmieniało
                     np na czerwono obramowanie czy cośtam-->
                    <div class="form-group" [class.has-error]="userName.invalid && userName.touched">
                        <label class="control-label" for="idUsername">Login</label>
                        <input #userName="ngModel"
                               pattern="....+"
                               maxlength="25"
                               type="text"
                               class="form-control"
                               name="userAccountToAdd.username"
                               required
                               [(ngModel)]="userAccountToAdd.username"
                               id="idUsername">
                        <!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
                        <div *ngIf="userName.invalid && userName.touched" class="alert alert-danger" role="alert">
                            Login musi się składać z przynajmniej 4 liter.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="userPassword.invalid && userPassword.touched">
                        <label class="control-label">Hasło</label>
                        <input #userPassword="ngModel"
                               pattern="......+"
                               type="password"
                               maxlength="100"
                               required
                               class="form-control"
                               name="userAccountToAdd.password"
                               [(ngModel)]="userAccountToAdd.password">
                        <div *ngIf="userPassword.invalid && userPassword.touched" class="alert alert-danger"
                             role="alert">
                            Hasło musi się składać z przynajmniej 6 liter.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="confirm.invalid && confirm.touched">
                        <label class="control-label">Potwierdź hasło</label>
                        <input #confirm="ngModel"
                               pattern="......+"
                               type="password"
                               maxlength="100"
                               class="form-control"
                               required
                               name="confirmPassword"
                               [(ngModel)]="confirmPassword">
                        <div *ngIf="confirm.invalid && confirm.touched" class="alert alert-danger" role="alert">
                            Hasło musi się składać z przynajmniej 6 liter.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="email.invalid && email.touched">
                        <label class="control-label">E-mail</label>
                        <input #email="ngModel"
                               type="email"
                               maxlength="45"
                               required
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                               class="form-control"
                               name="userAccountToAdd.e_mail"
                               [(ngModel)]="userAccountToAdd.e_mail">
                        <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">
                            Ten E-mail jest niepoprawny.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="country.invalid && country.touched">
                        <label class="control-label">Państwo</label>
                        <input #country="ngModel"
                               type="text"
                               pattern="....+"
                               maxlength="45"
                               required
                               class="form-control"
                               name="userAccountToAdd.country"
                               [(ngModel)]="userAccountToAdd.country">
                        <div *ngIf="country.invalid && country.touched" class="alert alert-danger" role="alert">
                            Nazwa kraju musi składać się z przynajmniej 4 liter.
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="nick.invalid && nick.touched">
                        <label class="control-label">Nick</label>
                        <input #nick="ngModel"
                               type="text"
                               required
                               pattern="....+"
                               maxlength="45"
                               class="form-control"
                               name="userAccountToAdd.nick"
                               [(ngModel)]="userAccountToAdd.nick">
                        <div *ngIf="nick.invalid && nick.touched" class="alert alert-danger" role="alert">
                            Nick musi składać się z przynajmniej 4 liter.
                        </div>
                    </div>

                    <div class="checkbox" [class.has-error]="isRegAccepted">
                        <label>
                            <input type="checkbox" name="acceptedRegulaions" [(ngModel)]="acceptedRegulaions">
                            <p class="lead">
                                <small>Akceptuje Regulamin.</small>
                            </p>
                        </label>
                        <div *ngIf="isRegAccepted" class="alert alert-danger" role="alert">
                            Musisz zaakceptować regulamin użytkowania.
                        </div>
                    </div>


                    <div class="checkbox " [class.has-error]="isMarketAccepted">
                        <label>
                            <input type="checkbox" name="acceptedMarketingRules" [(ngModel)]="acceptedMarketingRules">
                            <p class="lead">
                                <small>Zgadzam się na przetwarzanie moich danych osobowych do celów marketingowych.
                                </small>
                            </p>
                        </label>
                        <div *ngIf="isMarketAccepted" class="alert alert-danger" role="alert">
                            Musisz zgodzić się na przetwarzanie twoich danych osobowych.
                        </div>
                    </div>

                    <div *ngIf="isPassNotEqual" class="alert alert-danger" role="alert">
                        Hasła są różne!
                    </div>
                    <div *ngIf="!validationResult" class="alert alert-danger" role="alert">
                        Błędne dane.
                    </div>


                    <button type="submit" class="btn btn-default"
                            (click)="createUserAccount(userAccountToAdd);">OK
                    </button>

                </form>
                accepted: {{ acceptedRegulaions }}
            </div>
        </div>
    </div>




