$bg-color: #1F6BAD;
$font-color: #D2ECF7;
$navbar-bg: #212324;
$navbar-font: #797F82;

html {
	margin: 0 auto;
  background-color: $bg-color;
}

body {
  background-color: $bg-color;
  color: $font-color;
  padding-top: 45px;
}

.nav {
  width: auto;
}


#sidebar-wrapper { 
  background-color: $navbar-bg;
  color: $navbar-font;
  padding-top: 25px;
  font-size: large;
}

.navbar-inverse {
  background-color: $navbar-bg !important;
  color: $navbar-font !important;
}

