<div class="container-fluid">
    <div class="content-heading container col-md-12">
        <p class="h1">my first spring-boot-angular2 app siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d siemka dsodaodsm doandasndasnd oasnd aooad siemka dsodaodsm d</p>
        <p *ngIf="token" > token: {{token}}</p>
    </div>
</div>
